<div *ngIf="dataLoaded">
<!-- Carousel -->

<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/371-1-bugun-aracinizi-nereden-alirdiniz.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/3e59e999-c44f-4f23-aae9-670761347363-banner-yeni-1-.jpg" alt="First slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/e80fbafb-40c8-4edc-a819-4c1f28264eac-banner-yeni2-2-.jpg" alt="Two slide">
  </mdb-carousel-item>
  <mdb-carousel-item>
    <img class="d-block w-100" src="assets/RentGo_Arac_Dezenfekte_WebBanner.jpg" alt="Thirt slide">
  </mdb-carousel-item>
</mdb-carousel>

<!-- Carousel -->

<section class="space-bottom clearfix">
  <div class="containerr">
    <div class="row">
      <div class="heading space-top-and-bottom small">
        <h2 style="text-align: center;">Hizmetlerimiz</h2>
        <span></span>
      </div>

      <div class="six columns baslangic">
        <div
          class="latest-blog-post clearfix"
          data-appear-animation="slideInRight"
        >
          <!-- blog media -->
          <div class="blog-media">
            <img
              src="assets/home-page/aylik-kiralama.jpg"
              title="Aylık Kiralama"
              alt="Aylık Kiralama"
              width="285"
              height="189"
              style="width: 285px; height: 189px"
            />
          </div>

          <div class="blog-content">
            <div class="blog-content-wrap">
              <div class="blog-title">
                <h5><b>Aylık Kiralama</b></h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="six columns">
        <div
          class="latest-blog-post clearfix"
          data-appear-animation="slideInRight"
        >
          <!-- blog media -->
          <div class="blog-media">
            <img
              src="assets/home-page/gunluk-kiralama.jpg"
              title="Günlük Araç Kiralama"
              alt="Günlük Araç Kiralama"
              width="285"
              height="189"
              style="width: 285px; height: 189px"
            />
          </div>

          <div class="blog-content">
            <div class="blog-content-wrap">
              <div class="blog-title">
                <h5><b>Günlük Araç Kiralama</b></h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="six columns">
        <div
          class="latest-blog-post clearfix"
          data-appear-animation="slideInRight"
        >
          <!-- blog media -->
          <div class="blog-media">
            <img
              src="assets/home-page/haftalik-arac-kiralama.jpg"
              title="Haftalık Araç Kiralama"
              alt="Haftalık Araç Kiralama"
              width="285"
              height="189"
              style="width: 285px; height: 189px"
            />
          </div>

          <div class="blog-content">
            <div class="blog-content-wrap">
              <div class="blog-title">
                <h5><b>Haftalık Araç Kiralama</b></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="six columns">
        <div
          class="latest-blog-post clearfix"
          data-appear-animation="slideInRight"
        >
          <div class="blog-media">
            <img
              src="assets/home-page/yillik-arac-kiralama.jpg"
              title="Yıllık Araç Kiralama"
              alt="Yıllık Araç Kiralama"
              width="285"
              height="189"
              style="width: 285px; height: 189px"
            />
          </div>

          <div class="blog-content">
            <div class="blog-content-wrap">
              <div class="blog-title">
                <h5><b>Yıllık Araç Kiralama</b></h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div
  style="
    background-color: #f0f0f0;
    width: 73rem;
    height: 31rem;
    margin-top: 1rem;
    margin-left: 10rem;
  "
>
  <div class="row">
    <div class="col-3" style="margin-left: 3rem;">
      <img src="assets/Yeni klasör/DealsOnWheels.668c34e5.png" alt="" />
      <h4
        class="elementor-heading-title elementor-size-default title"
        style="margin-left: 4rem"
      >
        Anahtar sana gelsin
      </h4>
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <p style="text-align: center; font-family: cursive">
            Aracını hemen seç <br />
            Anahtar 2 saate elinde olsun
          </p>
        </div>
      </div>
    </div>
    <div class="col-3" style="margin-left: 5rem;">
      <img src="assets/Yeni klasör/KnowTheScore.8177c96d.png"  alt="" />
      <h4 style="margin-left: 3rem;">Araçlarımızın hepsi muayeneden geçmiştir</h4>
       <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <p style="text-align: center; font-family: cursive">
            Aracınızı gönül rahatlığı ile sürebilirsiniz
           </p>
        </div>
      </div>
    </div>

    <div class="col-3" style="margin-left: 5rem;">
      <img src="assets/Yeni klasör/StayOnTrack.580130b2.png" alt="" />
      <h4
        class="elementor-heading-title elementor-size-default title"
        style="font-size: 1.5rem; margin-left: 4rem"
      >
        Hadi hemen sende bir araç kirala
      </h4>
      <div class="elementor-widget-container">
        <div class="elementor-text-editor elementor-clearfix">
          <p style="text-align: center; font-family: cursive">
            Kiraladığın araç gün içerisinde sana gelsin
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


<div class="dataLoaded" style="margin-left: 30rem;">
  <div *ngIf="!dataLoaded" style="margin-left: 12rem">
    <img src="https://i.gifer.com/3O8tL.gif" alt="Yükleniyor..." />
    <h3 style="margin-left: 10rem">Yükleniyor...</h3>
  </div>
</div>
