<div>
    <caption>
      Ödeme İşlemleri
    </caption>
    <div class="icons">
      <img src="https://img.icons8.com/color/48/000000/visa.png" />
      <img src="https://img.icons8.com/color/48/000000/mastercard-logo.png" />
      <img src="https://img.icons8.com/color/48/000000/maestro.png" />
    </div>


    <form [formGroup]="rentalAddForm">
      <div *ngIf="cards.length>0">
        <!-- <select (change)='onChange($event)' class="form-select" aria-label="Default select example"> -->
          <select  class="form-select" aria-label="Default select example">
          <option selected>Kayıtlı Kartlar</option>
         <option *ngFor="let myCards of myCard" [value]="myCards.id" (click)="setCards(myCards)"  [selected]="getSelectedCard(1)">{{myCards.firstName}}
           {{myCards.lastName}} | {{myCards.cardNumber.replace(myCards.cardNumber.slice(2,14),"************")}}</option>
        </select>


      </div>
      <div class="mb-3 row">
        <div class="col-md-4" >
          <label for="cardNumber" class="form-label"
            >Kredi Kartı Numaranızı Giriniz :</label
          >
        </div>
        <div class="col-md-8">
          <input
            formControlName="cardNumber"
            type="text"
            class="form-control"
            id="cardNumber"
            maxlength="16"
            placeholder="Kart Üzerindeki Kart Numarası"

          />
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-md-4">
          <label for="firstName" class="form-label">Kart Sahibinin Adı : </label>
        </div>
        <div class="col-md-8">
          <input
            formControlName="firstName"
            type="text"
            class="form-control"
            id="firstName"
            placeholder="Kart Üzerindeki İsim"
          />
        </div>
      </div>
      <div class="mb-3 row">
        <div class="col-md-4">
          <label for="lastName" class="form-label"
            >Kart Sahibinin Soyadı :
          </label>
        </div>
        <div class="col-md-8">
          <input
            formControlName="lastName"
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Kart Üzerindeki Soyadı"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <label for="cvv" class="form-label">Güvenlik kodu : </label>
            <input
              formControlName="cVV"
              type="number"
              class="form-control"
              id="cvv"
              maxlength="3"
              placeholder="Kart Üzerindeki Güvenlik Kodu"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <label for="expirationDate" class="form-label"
              >Son Kullanım Tarihi :
            </label>
            <input
              formControlName="expirationDate"
              type="text"
              class="form-control"
              id="expirationDate"
              max="3"
              placeholder="Kart Üzerindeki Son Kullanım Tarihi"
            />
          </div>
        </div>
      </div>
    </form>

    <div class="check">
      <div class="form-check form-switch">
        <input
          [(ngModel)]="isChecked"
          class="form-check-input"
          type="checkbox"
          id="isChecked"
          checked
        />
        <label class="form-check-label" for="isChecked">Kartımı kaydet</label>
      </div>
    </div>

    <div>
      <button (click)="addRental()" type="button" class="btn btn-primary mybtn">
        İşlemi Tamamla
      </button>
    </div>
  </div>
