<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>
  <body>
    <div class="about-section">
      <div class="inner-container">
        <h1>Bizi Yakından Tanıyın</h1>
        <p class="text">
          CAR RENTAL, 1998 yılında İstanbul Bağcılar’da kurumsal firmalara uzun
          dönem filo kiralama ve günlük araç kiralama hizmeti vermek üzere
          faaliyetlerine başlamıştır. Kurulduğu günden itibaren güçlü sermayesi,
          tecrübeli ekibi, geniş araç filosu, sürdürdüğü dürüst ve ilkeli hizmet
          anlayışı ile siz değerli müşterilerimizin tam desteğini kazanmış ve
          yıllarca şirketinizin veya şahsınızın ihtiyaç duyduğu tüm araçlara
          Türkiye’nin her yerinde güvenli, yedeklenmek suretiyle devamlı ve
          satış sonrası hizmet kalitesiyle sorunsuz bir şekilde sahip olmanızı
          sağlamıştır. Hedefimiz her zaman hızlı ve riskli büyümek yerine doğru
          zamanda doğru müşteriyle buluşmak olmuştur. 2.000 i aşkın ve sürekli
          yenilenen araç filosu ile 7/24 kesintisiz hizmet veren CAR RENTAL’ dan
          kiraladığınız her araçta size tek kalan sadece keyifli bir sürüş
          olacaktır.
        </p>
        <div class="icons" style="margin-left: -124px; margin-right: 130px">
          <div class="skills">
            <span
              ><a
                href="https://www.instagram.com/seyituludag0/"
                class="icon"
                target="_blank"
                ><i class="fab fa-instagram fa-2x"></i></a
            ></span>
            <span
              ><a
                href="https://www.linkedin.com/in/seyit-uludağ-89b022207/"
                class="icon"
                target="_blank"
                ><i class="fab fa-linkedin-in fa-2x"></i></a
            ></span>
            <span
              ><a
                href="https://github.com/seyituludag0"
                class="icon"
                target="_blank"
                ><i class="fab fa-github fa-2x"></i></a
            ></span>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
