<!-- Carousel -->
<div *ngIf="dataLoaded == true"></div>
<!-- Carousel -->

<!-- Filters -->
<div class="col-3" style="margin-top: 1rem">
  <app-brand></app-brand>
  <br />
  <app-color></app-color>
</div>

<!-- Filters -->

<!-- Loading -->
<div class="col-md-9" style="margin-top: 1rem">
  <div class="mb-3" *ngIf="dataLoaded == true">
    <input
      type="text"
      [(ngModel)]="carfilterText"
      class="form-control"
      id="filterColorText"
      placeholder="Model adı giriniz"
      style="margin-top: -25px"
    />
  </div>
  <!-- Loading -->

  <!-- Car Filter -->
  <div class="card-header text-center" *ngIf="dataLoaded == true">
    <app-car-filter></app-car-filter>
  </div>

  <div class="card-header text-center" *ngIf="dataLoaded == false">
    <app-car-filter></app-car-filter>
  </div>
  <!-- Car Filter -->

  <!-- Loading -->
  <div class="dataLoaded">
    <div *ngIf="!dataLoaded" style="margin-left: 12rem">
      <img src="https://i.gifer.com/3O8tL.gif" alt="Yükleniyor..." />
      <h3 style="margin-left: 10rem">Yükleniyor...</h3>
    </div>
  </div>
  <!-- Loading -->

  <!-- Cars -->
  <div>
    <div *ngFor="let car of carDetail | filterCar: carfilterText">
      <div class="inventory-list-item">
        <div class="inventory-list-thumb">
          <img
            [src]="
              car.imagePath.length !== 0
                ? baseUrl + car.imagePath[0]
                : baseUrl + defaultImg
            "
            class="card-img-top"
          />
          <!-- <ul class="inv-thumb-meta">
            <li>
              <a
                href="assets/konforlu-dizel-araclar.jpg"
                class="popup-image"
                data-toggle="tooltip"
                data-placement="top"
                data-original-title="View Image"
                ><i class="fas fa-camera"></i
              ></a>
             </li>
            <li>
              <a
                href="inventory-details.html"
                data-toggle="tooltip"
                data-placement="top"
                data-original-title="Details"
                ><i class="fas fa-info"></i
              ></a>
            </li>
          </ul> -->
        </div>
        <div class="inventory-list-content">
          <div class="inv-content-top">
            <ul>
              <li class="option">
                <a routerLink="/car-detail/{{ car.id }}"
                  ><font style="vertical-align: inherit"
                    ><font style="vertical-align: inherit">Kirala</font></font
                  ></a
                >
              </li>
              <li class="price">
                <font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit">{{car.dailyPrice}}₺</font></font
                ><span
                  ><font style="vertical-align: inherit"
                    ><font style="vertical-align: inherit">/ gün</font></font
                  ></span
                >
              </li>
            </ul>
          </div>
          <h4>
            <a href="inventory-details.html"
              ><font style="vertical-align: inherit"
                ><font style="vertical-align: inherit"
                  >{{car.modelName}}</font
                ></font
              ></a
            >
          </h4>
          <p class="location">
            <i class="fas fa-map-marker-alt icon"></i
            ><font style="vertical-align: inherit"
              ><font style="vertical-align: inherit"
                ><a href="https://goo.gl/maps/m7xPQZe9ZeveDnw99" class="location-info-color" target="_blank">İstanbul Bağcılar</a></font
              ></font
            >
          </p>
          <div class="inv-item-meta">
            <ul>
              <li class="info">
                <a routerLink="/car-detail/{{ car.id }}"
                  ><i class="fas fa-info"></i
                  ><font style="vertical-align: inherit"
                    ><font style="vertical-align: inherit"
                      >Detayları Gör</font
                    ></font
                  ></a
                >
              </li>
              <li>
                <font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit"
                    >Model: {{car.modelYear}}</font
                  ></font
                >
              </li>
              <li>
                <font style="vertical-align: inherit"
                  ><font style="vertical-align: inherit"
                    >Findex Puanı: {{car.minFindex}}</font
                  ></font
                >
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Cars -->
</div>
