<!-- <div id="container" *ngIf="dataLoaded == false">
  <img
    src="https://i.gifer.com/3O87u.gif"
    width="200"
    height="200"
    alt="loading"
  />
</div>

<style>
  #container {
    position: absolute;
    left: 35%;
    top: 50%;
  }
</style>


<table class="table table-striped"  *ngIf="dataLoaded == true" >
  <thead class="thead-dark">
    <tr>
      <th scope="col" >#</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>

<tr *ngFor="let customer of customers">
  <td scope="2">{{customer.customerId}}</td>
  <td>{{customer.firstName}}</td>
  <td>{{customer.lastName}}</td>
  <td>{{customer.email}}</td>
  <td>{{customer.status}}</td>
   <td>{{customer.companyName}}</td>
</tr>

  </tbody>
</table> -->
