<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>Carnation - Car Dealership and Listings HTML Template</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS here -->
  </head>
  <body>
    <!-- main-area -->
    <main *ngIf="carDetail">
      <!-- breadcrumb-area -->
      <section
        class="breadcrumb-area breadcrumb-bg inventory-details-breadcrumb"
      >
        <div class="container">
          <div class="row">
            <div class="col-12" style="margin-top: -5rem;">
              <!-- Carousel -->
              <h2 style="text-align: center">{{ carDetail.brandName }}</h2>
              <mdb-carousel
                class="carousel slide carousel-fade"
                [animation]="'fade'">
                <mdb-carousel-item
                  *ngFor="
                    let image of carImage;
                    index as i;
                    first as firstImage"
                  [ngClass]="{ active: firstImage }"

                >
                  <img
                    style="margin-left: 17rem"
                    class="d-block w-55"
                    src="https://localhost:44357/uploads/{{ image.imagePath }}"
                    alt="{{ carDetail.modelName }}"
                  />
                </mdb-carousel-item>
              </mdb-carousel>
              <!-- Carousel -->

              <div class="breadcrumb-content text-center"></div>
            </div>
          </div>
        </div>
      </section>
      <!-- breadcrumb-area-end -->

      <!-- inventory-list-area -->
      <section class="inventory-details-area gray-lite-bg pt-120 pb-120">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="inventory-features mb-30">
                <div class="inv-details-title">
                  <h5>DETAY SAYFASI</h5>
                </div>
                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="inventory-features-item">
                      <h6>Marka :</h6>
                      <span>{{ carDetail.brandName }}</span>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="inventory-features-item">
                      <h6>Model :</h6>
                      <span>{{ carDetail.modelName }}</span>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="inventory-features-item">
                      <h6>Renk :</h6>
                      <span>{{ carDetail.colorName }}</span>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-4">
                    <div class="inventory-features-item">
                      <h6>Model Yılı :</h6>
                      <span>{{ carDetail.modelYear }}</span>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4">
                    <div class="inventory-features-item">
                      <h6>Günlük Fiyat :</h6>
                      <span>{{ carDetail.dailyPrice }}</span>
                    </div>
                  </div>

                  <div class="col-md-3 col-sm-4">
                    <div class="inventory-features-item">
                      <h6>Findex Puanı :</h6>
                      <span>{{ carDetail.minFindex }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="inventory-details-description mb-30">
                <div class="inv-details-title">
                  <h5>Açıklama</h5>
                </div>
                <p>
                  <span>Aouda was anxious</span> though she said nothing. As for
                  Passepartout thought Mr. Fogg’s manovre simply glorious. The
                  captain had said “betwen eleven and twve knots,” and the
                  Henrietta said the confirmed his she said nothing prediction.
                  There are many variations of passages of Lorem Ipsum
                  available, but the majority have suffered alteration in some
                  form, by injected.
                </p>
                <div class="inv-details-img">
                  <div class="row">
                    <div class="col-sm-6">
                      <img
                        [src]="
                          carDetail.imagePath.length !== 0
                            ? baseUrl + carDetail.imagePath[0]
                            : baseUrl + defaultImg
                        "
                        class="card-img-top"
                      />
                    </div>
                    <div class="col-sm-6">
                      <img
                      [src]="
                      carDetail.imagePath.length !== 0
                        ? baseUrl + carDetail.imagePath[1]
                        : baseUrl + defaultImg
                    "
                    class="card-img-top"
                      />
                    </div>
                    <div class="col-sm-6">
                      <img
                        [src]="
                          carDetail.imagePath.length !== 0
                            ? baseUrl + carDetail.imagePath[2]
                            : baseUrl + defaultImg
                        "
                        class="card-img-top"
                      />
                    </div>
                    <div class="col-sm-6">
                      <img
                      [src]="
                      carDetail.imagePath.length !== 0
                        ? baseUrl + carDetail.imagePath[3]
                        : baseUrl + defaultImg
                    "
                    class="card-img-top"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- inventory-list-area-end -->
    </main>
    <!-- main-area-end -->
  </body>
</html>
